.u_card {
    width: 23%;
    height: 480px;
    max-height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 25px;
    overflow: hidden;
    background-repeat: no-repeat !important; 
    background-position: center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    transition: all .25s;    
}

.u_card:hover{
    transform: scale(1.1);
}

.u_gradient {
    position: relative;
    padding: 15px;
    height: 460px;
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.8) 14%, rgba(0,0,0,0) 100%);  
}

.u_gradient:hover{
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.75) 14%, rgba(0,0,0,0) 100%);
}

.u_info{
    position: absolute;
    bottom: 0;
    width: 90%;
    height: fit-content;
    margin-bottom: 15px;
}

.u_root {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}

.img {
    object-fit: cover;
    width: 300px;
    height: 400px;
    max-height: 400px;
}

.u_likes {
    line-height: 30px;
    color: white;
}

.u_likes>img {
    height: 16px;
    margin-right: 7px;
}

.u_username {
    color: white;
    font-size: 22px;
    line-height: 30px;

}

.u_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    margin-top: 15px;
}

.u_row_description{
    height: 30px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.u_description {
    color: white;
    font-size: 13px;
    font-weight: 200;
}

.fake_button {
    display: block;
    width: 22%;
    height: 30px;
    color: white;
    background-color: transparent;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid white;
    text-align: center;
    transition: all .15s;
    font-weight: 300;
}

.fake_button:hover {
    color: black;
    background-color: white;

}
