@import "../theme/_theme-dir";

$border: 1px solid $gray;
$chevron-size: 20px;


.filter_card {
  border: $border;
  border-radius: 8px;
  margin-bottom: 15px !important;

  &_header {
    padding: 20px;
    border-bottom: $border;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &_title {
      @include typo;
    }

    &_btn {
      width: $chevron-size;
      height: $chevron-size;
      background: url("../../assets/icons/chevron-down.svg");
      background-size: $chevron-size;
    }
  }

  &_content {
    padding: 20px;

  }
}

.filter_input_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 50%;
  flex-wrap: wrap;

  &_title {
    @include typo;

  }

  &_inut {
    @include typo;
    border: $border;
    padding: 5px 10px;
    border-radius: 8px;
    list-style: none;
  }
}