$header-height: 80px;

.header {
    height: $header-height;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;


  }

  .flex-center {
      display: flex;
      align-items: center;
  }








