* {
    font-family: 'Inter', sans-serif;
}

p, span, a {
    margin: 0;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
}

.scroll {
    padding-bottom: 20px;
    overflow-x: scroll;
}

.scroll::-webkit-scrollbar {
    height: 10px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.6);
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.section {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

.header {
    height: 80px;
    line-height: 80px;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.center {
    display: flex;
    justify-content: center;
}

.lang_btn {
    padding: 15px 35px;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}

.lang_btn:hover {
    transform: scale(1.2);
}

.link {
    font-size: 18px;
    color: white;
}

.title_text {
    color: white;
    font-size: 28px;
    font-weight: 500;
    margin-top: 15px;
}

.simple_text {
    color: white;
    font-size: 16px;
    font-weight: 200;
    margin-top: 15px;
}

.root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.task_card {
    width: 270px !important;
    min-width: 270px !important;;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 20px;
}

.ts_logo {
    width: 100%;
    height: 120px;
    border-radius: 5px 5px 0px 0px;
    background-color: #3878BD;
}

.js_logo {
    width: 100%;
    height: 120px;
    border-radius: 5px 5px 0px 0px;
    background-color: yellow;
}

.logo_text {
    display: block;
    width: 100%;
    font-weight: 800;
    color: black;
    margin: 0;
    line-height: 155px;
    font-size: 145px;
    text-align: right;
}

.description {
    width: 100%;
    height: 54px;
    overflow-y: hidden;
}

.button {
    width: 100%;
    height: 45px;
    border: 1px solid gray;
    border-radius: 7px;
    margin-top: 15px;
    font-size: 16px;
    color: gray;
    background-color: transparent;
    transition: 0.2s;
}

.button:hover {
    border: 0;
    color: black;
    background-color: gray;
}
